
@media screen and (max-width: 1019px) {
    html {
        display: none;
    }
}

@media screen and (min-width: 1020px) {
    html {
        background-color: rgb(30, 31, 40);
        font-family: Arial;
        color: white;
        display: flex;
        align-items: center;
        width: 70%;
        max-width: 900px;
        margin: auto;
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: white;
    }

    header {
        display: flex;
        align-items: center;
        border-radius: 15px;
        background-color: rgb(36, 36, 47);
        height: 150px;
        margin: 10px;
    }

    .programming_logo > img {
        height: 35px;
    }

    header > img {
        border-radius: 50%;
        height: 130px;
        width: auto;
        margin: 10px;
    }

    header > ul > li:first-child > a:hover {
        text-decoration: underline;
    }

    header > ul > li {
        margin: 5px;
    }

    header > li {
        display: flex;
        align-items: center;
    }

    header > img {
        margin-right: 20px;
    }

    .info-card {
        align-items: center;
        margin-left: auto;
        margin-right: 10px;
    }
    
    .header {
        text-align: left;
    }
    
    .header > h3 {
        margin-top: -15px;
    }

    main {
        margin: 10px;
    }

    aside {
        background-color: rgb(31, 31, 43);
        height: 200px;
        margin: 10px;
    }

    aside > div {
        margin: 10px;
    }

    aside > table {
        margin-bottom: 10px;
    }

    aside > a {
        background-color: rgb(36, 36, 47);
        margin-top: 10px;
    }
}