@font-face {
    font-family: PromixaNova;
    src: url(proxima_ssv/ProximaNova-Regular.otf);
}

html {
    background-color: #16161a;
    font-family: PromixaNova;
    color: #fffffe;
    flex-direction: row;
    font-size: 150%;
    /*
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; */
    max-width: 100%;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

.header {
    display: flex;
    align-items: center;
}

.header_title {
    margin-left: 10px;
    margin: auto;
}

.pfp {
    display: flex;
    justify-content: center;
    background-color: #72757e;
    width: 50%;
    min-width: 100px;
    border-radius: 5px;
    border: 2px solid #010101;
}

header h1 {
    color: #2cb67d;
}

header h2 {
    margin-top: -20px;
}

header {
    display: flex; 
    justify-content: center;
    text-align: center;
}

img {
    width: 200px;
    margin: 20px;
}
